html, body {
    background-color: antiquewhite;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.button {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    border: thick solid;
    width: 960px;
    flex-grow:1;
}

#main div {
    flex-basis: 100px;
    height:100px;
    margin:0;
}

